<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pump-and-dump</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <style> ::selection {
      background:rgba(255, 255, 125, 0.99);
      color:#032764;
      overflow-x: hidden;
      }</style>
  </head>
  <body style="background-color: #F5F5F5">
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
